<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "synergy"
        versionCode = "10" 
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Synergy</name>

    <description>
        Client application for synergy social network. 
    </description>

    <author href="https://labno6.tk" email="ua3mqj@gmail.com">
        Hardeep Shoker 
    </author>

	<access origin="*"/>
	<plugin name="cordova-plugin-whitelist" version="1" />
	<allow-intent href="http://*/*" />
	
	<platform name="android" />
	
</widget>